<div id="header">
    <a href="/">Home</a> | 
    <a href (click)="logout()">Logout</a>
  </div><br />

<div id="new-Q">
    <fieldset><legend><strong>New Question</strong></legend>
    <form (submit)="create()">
      <p>Question: <textarea name="ques.question" [(ngModel)]="ques.question"></textarea></p>
      <p>Description: <textarea name="ques.description" [(ngModel)]="ques.description"></textarea></p>
      <input type="submit" value="Add Question">
    </form></fieldset>
  </div>