<div id="header">
  <h1>Welcome {{user.firstName}} {{user.lastName}}!</h1>
  <a class="logout" href="#" (click)="logout()">Logout</a>
</div>

<a href="/new_question">Add a Question</a>
<p>Search:<input type="text" name="searchText" [(ngModel)]="searchText"></p>

<table border="1">
  <tr>
    <th>Question</th>
    <th>Answers</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let question of questions | search: searchText">
    <td>{{question.question}}</td>
    <td>{{question.answers.length}}</td>
    <td><a href="/question/{{question._id}}">Show</a> | <a href="/question/{{question._id}}/new_answer">Answer</a></td>
  </tr>
</table>