html, body{
    background-color: gainsboro;
}
body{
    width:980px;
    margin-left:auto;
    margin-right:auto;
}
#header h1, .logout{
    display:inline-block;
}
.logout{
    padding-top:40px;
    float:right;
}