<div id="header">
    <a href="/">Home</a> | 
    <a href="/question/{{id}}/new_answer">Answer this Question</a> | 
    <a href (click)="logout()">Logout</a>
  </div><br />

  <div id="question">
    <h1>{{ques.question}}</h1>
    <h2>{{ques.description}}</h2>
  </div>

  <div *ngFor="let answer of ques.answers" class="answer">
    <p>{{answer._user.firstName}}:</p>
    <p>Answer: {{answer.answer}}</p>
    <p>Details: {{answer.details}}</p>
    <p>{{answer.likes}} Like(s)! | <button (click)="like(answer._id)">Like</button></p>
  </div>