<div id="login">
  <fieldset><legend><strong>Login</strong></legend>
  <form (submit)="login()">
    <p>Email: <input type="text" name="log.email" [(ngModel)]="log.email"></p>
    <p>Password: <input type="password" name="log.password" [(ngModel)]="log.password"></p>
    <input type="submit" value="Login">
  </form></fieldset>
</div>

<div id="register">
  <fieldset><legend><strong>Register</strong></legend>
  <form (submit)="register()">
    <p>First Name: <input type="text" name="reg.firstName" [(ngModel)]="reg.firstName"></p>
    <p>Last Name: <input type="text" name="reg.lastName" [(ngModel)]="reg.lastName"></p>
    <p>Email: <input type="text" name="reg.email" [(ngModel)]="reg.email"></p>
    <p>Password: <input type="password" name="reg.password" [(ngModel)]="reg.password"></p>
    <p>Confirm Password: <input type="password" name="reg.confirm" [(ngModel)]="reg.confirm"></p>
    <input type="submit" value="Register">
  </form></fieldset>
</div>