<div id="header">
    <a href="/">Home</a> | 
    <a href="/question/{{id}}">Go Back to Question</a> | 
    <a href (click)="logout()">Logout</a>
  </div><br />

  <div id="question">
    <h1>{{ques.question}}</h1>
    <h2>{{ques.description}}</h2>
  </div>

  <div id="answer">
    <fieldset><legend><strong>Answer</strong></legend>
      <form (submit)="create()">
        <p>Your Answer: <textarea name="ans.answer" [(ngModel)]="ans.answer"></textarea></p>
        <p>Supporting Details: <textarea name="ans.details" [(ngModel)]="ans.details"></textarea></p>
        <input type="submit" value="Answer Question">
      </form></fieldset>
  </div>